@import "_mixins";

.float-left {
    float: left;
}
 
.float-right {
    float: right;
}

.text-left {
	text-align:left;
}

.text-right {
	text-align:right;
}

.text-center {
	text-align:center;
}

.hide {
    display: none;
}
 
.show {
    display: block;
}

.code { font: 0.8em/1.6 Monaco, Mono-Space, monospace; }

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

/*  preventing the text from breaking out of its container  */
.break {
	@include break(break-all);
 	@include hyphens(auto);
}

.ellipsis {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    @include text-overflow(ellipsis);
}

pre {
    white-space: pre-wrap;       /* Chrome & Safari */
    white-space: -moz-pre-wrap;  /* Mozilla since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}