/* line 3, ../sass/snippets.scss */
.float-left {
  float: left;
}

/* line 7, ../sass/snippets.scss */
.float-right {
  float: right;
}

/* line 11, ../sass/snippets.scss */
.text-left {
  text-align: left;
}

/* line 15, ../sass/snippets.scss */
.text-right {
  text-align: right;
}

/* line 19, ../sass/snippets.scss */
.text-center {
  text-align: center;
}

/* line 23, ../sass/snippets.scss */
.hide {
  display: none;
}

/* line 27, ../sass/snippets.scss */
.show {
  display: block;
}

/* line 31, ../sass/snippets.scss */
.code {
  font: 0.8em/1.6 Monaco, Mono-Space, monospace;
}

/* line 33, ../sass/snippets.scss */
.disabled {
  pointer-events: none;
  opacity: 0.5;
}

/*  preventing the text from breaking out of its container  */
/* line 39, ../sass/snippets.scss */
.break {
  -ms-word-break: break-all;
  word-break: break-all;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

/* line 44, ../sass/snippets.scss */
.ellipsis {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

/* line 51, ../sass/snippets.scss */
pre {
  white-space: pre-wrap;
  /* Chrome & Safari */
  white-space: -moz-pre-wrap;
  /* Mozilla since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
}
