@import url("webfonts.css");
/* line 4, ../sass/typography.scss */
html {
  font-size: 14px;
  line-height: 22px;
}

/* line 9, ../sass/typography.scss */
body {
  font: normal 100%/20px;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

/* line 11, ../sass/typography.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 10 0px;
  margin: 0 0 0.71429rem 0;
  font-family: "AlternateGothic3", Helvetica, sans-serif;
  text-transform: uppercase;
  color: #212223;
}

/* line 18, ../sass/typography.scss */
h1 {
  font-size: 30px;
  font-size: 2.14286rem;
  line-height: 36px;
  line-height: 2.57143rem;
}

/* line 23, ../sass/typography.scss */
h2 {
  font-size: 24px;
  font-size: 1.71429rem;
  line-height: 36px;
  line-height: 2.57143rem;
}

/* line 28, ../sass/typography.scss */
h3 {
  font-size: 18px;
  font-size: 1.28571rem;
  line-height: 27px;
  line-height: 1.92857rem;
}

/* line 33, ../sass/typography.scss */
h4 {
  font-size: 14px;
  font-size: 1rem;
  line-height: 18px;
  line-height: 1.28571rem;
}

/* line 38, ../sass/typography.scss */
h5 {
  font-size: 14px;
  font-size: 1rem;
  line-height: 18px;
  line-height: 1.28571rem;
  text-transform: none;
}

/* line 44, ../sass/typography.scss */
.body-1 {
  font-size: 14px;
  font-size: 1rem;
  line-height: 22px;
  line-height: 1.57143rem;
}

/* line 49, ../sass/typography.scss */
.body-2 {
  font-size: 16px;
  font-size: 1.14286rem;
  line-height: 22px;
  line-height: 1.57143rem;
}

/* line 54, ../sass/typography.scss */
.mouse {
  font-size: 12px;
  font-size: 0.85714rem;
  line-height: 18px;
  line-height: 1.28571rem;
}

/* line 59, ../sass/typography.scss */
p {
  margin: 9 0px;
  margin: 0.64286rem 0;
}

/* line 63, ../sass/typography.scss */
a {
  text-decoration: none;
  color: #3dbefe;
}
/* line 66, ../sass/typography.scss */
a:hover {
  text-decoration: underline;
  color: #66ccff;
}

/* line 72, ../sass/typography.scss */
a.underline {
  text-decoration: underline;
}
