/* line 5, ../sass/breadcrumb.scss */
.ui-breadcrumb li {
  display: inline-block;
  float: left;
  list-style-type: none;
}
/* line 11, ../sass/breadcrumb.scss */
.ui-breadcrumb a:after {
  content: "/";
  display: inline-block;
  text-align: center;
  width: 20px;
  color: black;
}
/* line 19, ../sass/breadcrumb.scss */
.ui-breadcrumb li:last-child a {
  font-weight: bold;
}
/* line 23, ../sass/breadcrumb.scss */
.ui-breadcrumb li:last-child a:after {
  display: none;
}
