/* line 3, ../sass/buttons.scss */
.ui-button, .ui-button-img, .ui-button-combo-left, .ui-button-combo-right {
  background: #000;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-size: 1rem;
  line-height: 34px;
  line-height: 2.42857rem;
  padding: 5 20 3px;
  padding: 0.35714rem 1.42857rem 0.21429rem;
  font-weight: 600;
}
/* line 12, ../sass/buttons.scss */
.ui-button:hover, .ui-button-img:hover, .ui-button-combo-left:hover, .ui-button-combo-right:hover {
  text-decoration: none;
}

/* line 17, ../sass/buttons.scss */
.ui-button.ui-primary, .ui-primary.ui-button-img, .ui-primary.ui-button-combo-left, .ui-primary.ui-button-combo-right {
  background-color: #000;
}

/* line 21, ../sass/buttons.scss */
.ui-button.ui-small, .ui-small.ui-button-img, .ui-small.ui-button-combo-left, .ui-small.ui-button-combo-right {
  line-height: 30px;
  line-height: 2.14286rem;
  padding: 0 10px;
  padding: 0 0.71429rem;
}

/* line 26, ../sass/buttons.scss */
.ui-button.ui-large, .ui-large.ui-button-img, .ui-large.ui-button-combo-left, .ui-large.ui-button-combo-right {
  line-height: 54px;
  line-height: 3.85714rem;
  padding: 0 30px;
  padding: 0 2.14286rem;
}

/* line 31, ../sass/buttons.scss */
.ui-button.ui-disabled, .ui-disabled.ui-button-img, .ui-disabled.ui-button-combo-left, .ui-disabled.ui-button-combo-right {
  background: #ccc;
  cursor: default;
}

/* line 36, ../sass/buttons.scss */
.ui-button-img {
  padding: 9px;
  padding: 0.64286rem;
}

/* line 41, ../sass/buttons.scss */
.ui-button-combo-left {
  padding: 5 20 3 10px;
  padding: 0.35714rem 1.42857rem 0.21429rem 0.71429rem;
}
/* line 45, ../sass/buttons.scss */
.ui-button-combo-left img {
  display: inline-block;
  position: relative;
  margin: 3 5 -3 0px;
  margin: 0.21429rem 0.35714rem -0.21429rem 0;
}

/* line 52, ../sass/buttons.scss */
.ui-button-combo-right {
  padding: 5 10 3 20px;
  padding: 0.35714rem 0.71429rem 0.21429rem 1.42857rem;
}
/* line 56, ../sass/buttons.scss */
.ui-button-combo-right img {
  display: inline-block;
  position: relative;
  margin: 3 0 -3 5px;
  margin: 0.21429rem 0 -0.21429rem 0.35714rem;
}

/* line 63, ../sass/buttons.scss */
.ui-combo, .ui-button.ui-combo-right, .ui-combo-right.ui-button-img, .ui-combo-right.ui-button-combo-left, .ui-combo-right.ui-button-combo-right, .ui-button.ui-checkout, .ui-checkout.ui-button-img, .ui-checkout.ui-button-combo-left, .ui-checkout.ui-button-combo-right, .ui-button.ui-combo-left, .ui-combo-left.ui-button-img, .ui-combo-left.ui-button-combo-left, .ui-combo-left.ui-button-combo-right, .ui-button.ui-cart, .ui-cart.ui-button-img, .ui-cart.ui-button-combo-left, .ui-cart.ui-button-combo-right {
  position: relative;
}
/* line 66, ../sass/buttons.scss */
.ui-combo:before, .ui-button.ui-combo-right:before, .ui-combo-right.ui-button-img:before, .ui-combo-right.ui-button-combo-left:before, .ui-combo-right.ui-button-combo-right:before, .ui-button.ui-checkout:before, .ui-checkout.ui-button-img:before, .ui-checkout.ui-button-combo-left:before, .ui-checkout.ui-button-combo-right:before, .ui-button.ui-combo-left:before, .ui-combo-left.ui-button-img:before, .ui-combo-left.ui-button-combo-left:before, .ui-combo-left.ui-button-combo-right:before, .ui-button.ui-cart:before, .ui-cart.ui-button-img:before, .ui-cart.ui-button-combo-left:before, .ui-cart.ui-button-combo-right:before {
  background: url(http://placehold.it/16) no-repeat;
  content: " ";
  display: block;
  height: 16px;
  position: absolute;
  width: 16px;
  top: 50%;
  margin-top: -8px;
}

/* line 78, ../sass/buttons.scss */
.ui-button.ui-combo-right, .ui-combo-right.ui-button-img, .ui-combo-right.ui-button-combo-left, .ui-combo-right.ui-button-combo-right, .ui-button.ui-checkout, .ui-checkout.ui-button-img, .ui-checkout.ui-button-combo-left, .ui-checkout.ui-button-combo-right {
  padding-right: 46px;
}
/* line 82, ../sass/buttons.scss */
.ui-button.ui-combo-right:before, .ui-combo-right.ui-button-img:before, .ui-combo-right.ui-button-combo-left:before, .ui-combo-right.ui-button-combo-right:before, .ui-button.ui-checkout:before, .ui-checkout.ui-button-img:before, .ui-checkout.ui-button-combo-left:before, .ui-checkout.ui-button-combo-right:before {
  right: 20px;
}

/* line 87, ../sass/buttons.scss */
.ui-button.ui-combo-left, .ui-combo-left.ui-button-img, .ui-combo-left.ui-button-combo-left, .ui-combo-left.ui-button-combo-right, .ui-button.ui-cart, .ui-cart.ui-button-img, .ui-cart.ui-button-combo-left, .ui-cart.ui-button-combo-right {
  padding-left: 46px;
}
/* line 91, ../sass/buttons.scss */
.ui-button.ui-combo-left:before, .ui-combo-left.ui-button-img:before, .ui-combo-left.ui-button-combo-left:before, .ui-combo-left.ui-button-combo-right:before, .ui-button.ui-cart:before, .ui-cart.ui-button-img:before, .ui-cart.ui-button-combo-left:before, .ui-cart.ui-button-combo-right:before {
  left: 20px;
}

/* line 99, ../sass/buttons.scss */
.ui-button.ui-checkout:before, .ui-checkout.ui-button-img:before, .ui-checkout.ui-button-combo-left:before, .ui-checkout.ui-button-combo-right:before {
  background-position: 0px 0px;
}

/* line 107, ../sass/buttons.scss */
.ui-button.ui-cart:before, .ui-cart.ui-button-img:before, .ui-cart.ui-button-combo-left:before, .ui-cart.ui-button-combo-right:before {
  background-position: 0px 0px;
}
