/* line 7, ../sass/tooltip.scss */
.ui-tooltip,
.ui-tooltip-top,
.ui-tooltip-right,
.ui-tooltip-bottom,
.ui-tooltip-left {
  background: #fff;
  border: solid 1px #000;
  display: inline-block;
  min-height: 30px;
  position: absolute;
  width: 100px;
}

/* line 19, ../sass/tooltip.scss */
.ui-tooltip:after,
.ui-tooltip-top:after,
.ui-tooltip-right:after,
.ui-tooltip-bottom:after,
.ui-tooltip-left:after {
  content: "\25B8";
  display: block;
  font-size: 30px;
  font-size: 2.14286rem;
  height: 0;
  line-height: 0;
  position: absolute;
  z-index: 99;
}

/* line 30, ../sass/tooltip.scss */
.ui-tooltip:after,
.ui-tooltip-bottom:after {
  color: #fff;
  bottom: -1.75px;
  left: 0px;
  text-align: center;
  text-shadow: 1px 0 0 black;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  width: 100%;
}

/* line 40, ../sass/tooltip.scss */
.ui-tooltip-top:after {
  bottom: auto;
  color: #fff;
  left: -2px;
  top: -1px;
  text-align: center;
  text-shadow: 1px 0 0 black;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  width: 100%;
}

/* line 51, ../sass/tooltip.scss */
.ui-tooltip-right:after {
  color: #fff;
  right: -11px;
  top: 50%;
  text-shadow: 1px 0 0 black;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

/* line 58, ../sass/tooltip.scss */
.ui-tooltip-left:after {
  color: #fff;
  left: -0.37em;
  top: 50%;
  text-shadow: 1px 0 0 black;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
