@import "_mixins";

.ui-textarea {
	@include appearance(none);
	border:solid 1px #000;
	@include box-sizing(border-box);
	@include rem(font-size, 14);
	@include rem(line-height, 22);
	@include rem(padding, 4);
	width:100%;
}

.ui-textarea:focus {
	box-shadow:0 0 5px blue;
}

.ui-textarea[disabled="disabled"] {
	background:#ccc;
}