/* line 8, ../sass/typography.scss */
html {
  font-size: 14px;
}

/* line 10, ../sass/typography.scss */
body {
  font: normal 100%/20px;
  font-family: Helvetica, Arial, sans-serif;
}

/* line 12, ../sass/typography.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 10 0px;
  margin: 0 0 0.71429rem 0;
}

/* line 14, ../sass/typography.scss */
h1 {
  font-size: 24px;
  font-size: 1.71429rem;
  line-height: 32px;
  line-height: 2.28571rem;
}

/* line 19, ../sass/typography.scss */
h2 {
  font-size: 20px;
  font-size: 1.42857rem;
  line-height: 28px;
  line-height: 2rem;
}

/* line 24, ../sass/typography.scss */
h3 {
  font-size: 18px;
  font-size: 1.28571rem;
  line-height: 26px;
  line-height: 1.85714rem;
}

/* line 29, ../sass/typography.scss */
h4 {
  font-size: 16px;
  font-size: 1.14286rem;
  line-height: 24px;
  line-height: 1.71429rem;
}

/* line 34, ../sass/typography.scss */
h5 {
  font-size: 14px;
  font-size: 1rem;
  line-height: 22px;
  line-height: 1.57143rem;
}

/* line 39, ../sass/typography.scss */
.body-1 {
  font-size: 16px;
  font-size: 1.14286rem;
  line-height: 24px;
  line-height: 1.71429rem;
}

/* line 44, ../sass/typography.scss */
.body-2 {
  font-size: 14px;
  font-size: 1rem;
  line-height: 22px;
  line-height: 1.57143rem;
}

/* line 49, ../sass/typography.scss */
.mouse {
  font-size: 12px;
  font-size: 0.85714rem;
  line-height: 20px;
  line-height: 1.42857rem;
}

/* line 54, ../sass/typography.scss */
p {
  margin: 20 0px;
  margin: 1.42857rem 0;
}

/* line 58, ../sass/typography.scss */
a {
  text-decoration: none;
  color: blue;
}
/* line 61, ../sass/typography.scss */
a:hover {
  text-decoration: underline;
}

/* line 64, ../sass/typography.scss */
a.underline {
  text-decoration: underline;
}

/* line 6, ../sass/buttons.scss */
.ui-button, .ui-button-img, .ui-button-combo-left, .ui-button-combo-right {
  background: #000;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-size: 1rem;
  line-height: 34px;
  line-height: 2.42857rem;
  padding: 5 20 3px;
  padding: 0.35714rem 1.42857rem 0.21429rem;
  font-weight: 600;
}
/* line 15, ../sass/buttons.scss */
.ui-button:hover, .ui-button-img:hover, .ui-button-combo-left:hover, .ui-button-combo-right:hover {
  text-decoration: none;
}

/* line 20, ../sass/buttons.scss */
.ui-button.ui-primary, .ui-primary.ui-button-img, .ui-primary.ui-button-combo-left, .ui-primary.ui-button-combo-right {
  background-color: #000;
}

/* line 24, ../sass/buttons.scss */
.ui-button.ui-small, .ui-small.ui-button-img, .ui-small.ui-button-combo-left, .ui-small.ui-button-combo-right {
  line-height: 30px;
  line-height: 2.14286rem;
  padding: 0 10px;
  padding: 0 0.71429rem;
}

/* line 29, ../sass/buttons.scss */
.ui-button.ui-large, .ui-large.ui-button-img, .ui-large.ui-button-combo-left, .ui-large.ui-button-combo-right {
  line-height: 54px;
  line-height: 3.85714rem;
  padding: 0 30px;
  padding: 0 2.14286rem;
}

/* line 34, ../sass/buttons.scss */
.ui-button.ui-disabled, .ui-disabled.ui-button-img, .ui-disabled.ui-button-combo-left, .ui-disabled.ui-button-combo-right {
  background: #ccc;
  cursor: default;
}

/* line 39, ../sass/buttons.scss */
.ui-button-img {
  padding: 9px;
  padding: 0.64286rem;
}

/* line 44, ../sass/buttons.scss */
.ui-button-combo-left {
  padding: 5 20 3 10px;
  padding: 0.35714rem 1.42857rem 0.21429rem 0.71429rem;
}
/* line 48, ../sass/buttons.scss */
.ui-button-combo-left img {
  display: inline-block;
  position: relative;
  margin: 3 5 -3 0px;
  margin: 0.21429rem 0.35714rem -0.21429rem 0;
}

/* line 55, ../sass/buttons.scss */
.ui-button-combo-right {
  padding: 5 10 3 20px;
  padding: 0.35714rem 0.71429rem 0.21429rem 1.42857rem;
}
/* line 59, ../sass/buttons.scss */
.ui-button-combo-right img {
  display: inline-block;
  position: relative;
  margin: 3 0 -3 5px;
  margin: 0.21429rem 0 -0.21429rem 0.35714rem;
}

/* line 66, ../sass/buttons.scss */
.ui-combo, .ui-button.ui-combo-right, .ui-combo-right.ui-button-img, .ui-combo-right.ui-button-combo-left, .ui-combo-right.ui-button-combo-right, .ui-button.ui-checkout, .ui-checkout.ui-button-img, .ui-checkout.ui-button-combo-left, .ui-checkout.ui-button-combo-right, .ui-button.ui-combo-left, .ui-combo-left.ui-button-img, .ui-combo-left.ui-button-combo-left, .ui-combo-left.ui-button-combo-right, .ui-button.ui-cart, .ui-cart.ui-button-img, .ui-cart.ui-button-combo-left, .ui-cart.ui-button-combo-right {
  position: relative;
}
/* line 69, ../sass/buttons.scss */
.ui-combo:before, .ui-button.ui-combo-right:before, .ui-combo-right.ui-button-img:before, .ui-combo-right.ui-button-combo-left:before, .ui-combo-right.ui-button-combo-right:before, .ui-button.ui-checkout:before, .ui-checkout.ui-button-img:before, .ui-checkout.ui-button-combo-left:before, .ui-checkout.ui-button-combo-right:before, .ui-button.ui-combo-left:before, .ui-combo-left.ui-button-img:before, .ui-combo-left.ui-button-combo-left:before, .ui-combo-left.ui-button-combo-right:before, .ui-button.ui-cart:before, .ui-cart.ui-button-img:before, .ui-cart.ui-button-combo-left:before, .ui-cart.ui-button-combo-right:before {
  background: url(http://placehold.it/16) no-repeat;
  content: " ";
  display: block;
  height: 16px;
  position: absolute;
  width: 16px;
  top: 50%;
  margin-top: -8px;
}

/* line 81, ../sass/buttons.scss */
.ui-button.ui-combo-right, .ui-combo-right.ui-button-img, .ui-combo-right.ui-button-combo-left, .ui-combo-right.ui-button-combo-right, .ui-button.ui-checkout, .ui-checkout.ui-button-img, .ui-checkout.ui-button-combo-left, .ui-checkout.ui-button-combo-right {
  padding-right: 46px;
}
/* line 85, ../sass/buttons.scss */
.ui-button.ui-combo-right:before, .ui-combo-right.ui-button-img:before, .ui-combo-right.ui-button-combo-left:before, .ui-combo-right.ui-button-combo-right:before, .ui-button.ui-checkout:before, .ui-checkout.ui-button-img:before, .ui-checkout.ui-button-combo-left:before, .ui-checkout.ui-button-combo-right:before {
  right: 20px;
}

/* line 90, ../sass/buttons.scss */
.ui-button.ui-combo-left, .ui-combo-left.ui-button-img, .ui-combo-left.ui-button-combo-left, .ui-combo-left.ui-button-combo-right, .ui-button.ui-cart, .ui-cart.ui-button-img, .ui-cart.ui-button-combo-left, .ui-cart.ui-button-combo-right {
  padding-left: 46px;
}
/* line 94, ../sass/buttons.scss */
.ui-button.ui-combo-left:before, .ui-combo-left.ui-button-img:before, .ui-combo-left.ui-button-combo-left:before, .ui-combo-left.ui-button-combo-right:before, .ui-button.ui-cart:before, .ui-cart.ui-button-img:before, .ui-cart.ui-button-combo-left:before, .ui-cart.ui-button-combo-right:before {
  left: 20px;
}

/* line 102, ../sass/buttons.scss */
.ui-button.ui-checkout:before, .ui-checkout.ui-button-img:before, .ui-checkout.ui-button-combo-left:before, .ui-checkout.ui-button-combo-right:before {
  background-position: 0px 0px;
}

/* line 110, ../sass/buttons.scss */
.ui-button.ui-cart:before, .ui-cart.ui-button-img:before, .ui-cart.ui-button-combo-left:before, .ui-cart.ui-button-combo-right:before {
  background-position: 0px 0px;
}
