/* line 5, ../sass/forms.scss */
.ui-horizontal-forms label {
  display: inline-block;
  width: 100px;
}
/* line 10, ../sass/forms.scss */
.ui-horizontal-forms .form-item {
  clear: both;
  display: block;
}
/* line 15, ../sass/forms.scss */
.ui-horizontal-forms .form-label {
  float: left;
  font-weight: bold;
  margin: 15 20 10 0px;
  margin: 1.07143rem 1.42857rem 0.71429rem 0;
  text-align: right;
  width: 180px;
}
/* line 23, ../sass/forms.scss */
.ui-horizontal-forms .form-input {
  float: left;
  margin: 10 0px;
  margin: 0.71429rem 0;
  width: 280px;
}

/* line 33, ../sass/forms.scss */
.ui-vertical-forms label {
  display: inline-block;
  width: 100px;
}
/* line 38, ../sass/forms.scss */
.ui-vertical-forms .form-item {
  clear: both;
  display: block;
}
/* line 43, ../sass/forms.scss */
.ui-vertical-forms .form-label {
  font-weight: bold;
  margin: 10 0 0 0px;
  margin: 0.71429rem 0 0 0;
  width: 280px;
}
/* line 49, ../sass/forms.scss */
.ui-vertical-forms .form-input {
  margin: 0 0 5 0px;
  margin: 0 0 0.35714rem 0;
  width: 280px;
}

/* line 56, ../sass/forms.scss */
.form-notice {
  color: #999;
  font-size: 12px;
  font-size: 0.85714rem;
}

/* line 61, ../sass/forms.scss */
.form-error {
  color: #F00;
  display: none;
  font-size: 12px;
  font-size: 0.85714rem;
}

/* line 67, ../sass/forms.scss */
.form-warning {
  color: #00F;
  display: none;
  font-size: 12px;
  font-size: 0.85714rem;
}

/* line 73, ../sass/forms.scss */
.form-item-error {
  color: #F00;
}
/* line 76, ../sass/forms.scss */
.form-item-error input[type="text"] {
  border: solid 1px #F00;
}
/* line 80, ../sass/forms.scss */
.form-item-error .form-notice {
  display: none;
}
/* line 84, ../sass/forms.scss */
.form-item-error .form-error {
  display: block;
}

/* line 89, ../sass/forms.scss */
.form-item-warning {
  color: #00F;
}
/* line 92, ../sass/forms.scss */
.form-item-warning input[type="text"] {
  border: solid 1px #00F;
}
/* line 96, ../sass/forms.scss */
.form-item-warning .form-notice {
  display: none;
}
/* line 100, ../sass/forms.scss */
.form-item-warning .form-warning {
  display: block;
}
