/* line 1, ../sass/prettify.scss */
.lit {
  color: #195f91;
}

/* line 2, ../sass/prettify.scss */
.pun, .opn, .clo {
  color: #93a1a1;
}

/* line 3, ../sass/prettify.scss */
.fun {
  color: #dc322f;
}

/* line 4, ../sass/prettify.scss */
.str, .atv {
  color: #D14;
}

/* line 5, ../sass/prettify.scss */
.kwd, .prettyprint .tag {
  color: #1923fb;
}

/* line 6, ../sass/prettify.scss */
.typ, .atn, .dec, .var {
  color: teal;
}

/* line 7, ../sass/prettify.scss */
.pln {
  color: #48484c;
}

/* line 9, ../sass/prettify.scss */
.prettyprint {
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 14px;
  font-weight: 600;
  margin: 10px 0 20px 0;
  padding: 8px;
}

/* line 10, ../sass/prettify.scss */
.prettyprint.linenums {
  -webkit-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
  -moz-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
  box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
}

/* Specify class=linenums on a pre to get line numbering */
/* line 13, ../sass/prettify.scss */
ol.linenums {
  margin: 0px;
  padding: 0 0 0 28px;
  /* IE indents via margin-left */
}

/* line 14, ../sass/prettify.scss */
ol.linenums li {
  color: #bebec5;
  line-height: 20px;
  list-style-type: decimal;
  padding-left: 12px;
  text-shadow: 0 1px 0 #fff;
}
