/* line 3, ../sass/buttons.scss */
.ui-button, .ui-button-img, .ui-button-combo-left, .ui-button-combo-right {
  background: #005695;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-size: 1rem;
  line-height: 34px;
  line-height: 2.42857rem;
  padding: 5 20 3px;
  padding: 0.35714rem 1.42857rem 0.21429rem;
  font-family: "Futura", Helvetica, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  border-bottom: 2px solid #333;
}
/* line 15, ../sass/buttons.scss */
.ui-button:hover, .ui-button-img:hover, .ui-button-combo-left:hover, .ui-button-combo-right:hover {
  text-decoration: none;
}

/* line 20, ../sass/buttons.scss */
.ui-button.ui-primary, .ui-primary.ui-button-img, .ui-primary.ui-button-combo-left, .ui-primary.ui-button-combo-right {
  background-color: #ed6e37;
}

/* line 24, ../sass/buttons.scss */
.ui-button.ui-small, .ui-small.ui-button-img, .ui-small.ui-button-combo-left, .ui-small.ui-button-combo-right {
  line-height: 22px;
  line-height: 1.57143rem;
  padding: 5 10 3px;
  padding: 0.35714rem 0.71429rem 0.21429rem;
}

/* line 29, ../sass/buttons.scss */
.ui-button.ui-large, .ui-large.ui-button-img, .ui-large.ui-button-combo-left, .ui-large.ui-button-combo-right {
  line-height: 46px;
  line-height: 3.28571rem;
  padding: 5 30 3px;
  padding: 0.35714rem 2.14286rem 0.21429rem;
}

/* line 34, ../sass/buttons.scss */
.ui-button.ui-disabled, .ui-disabled.ui-button-img, .ui-disabled.ui-button-combo-left, .ui-disabled.ui-button-combo-right {
  background-color: #ccc;
  border-bottom: none;
}

/* line 39, ../sass/buttons.scss */
.ui-button-img {
  padding: 9px;
  padding: 0.64286rem;
}

/* line 44, ../sass/buttons.scss */
.ui-button-combo-left {
  padding: 5 20 3 10px;
  padding: 0.35714rem 1.42857rem 0.21429rem 0.71429rem;
}
/* line 48, ../sass/buttons.scss */
.ui-button-combo-left img {
  margin: 3 5 -3 0px;
  margin: 0.21429rem 0.35714rem -0.21429rem 0;
}

/* line 53, ../sass/buttons.scss */
.ui-button-combo-right {
  padding: 5 10 3 20px;
  padding: 0.35714rem 0.71429rem 0.21429rem 1.42857rem;
}
/* line 57, ../sass/buttons.scss */
.ui-button-combo-right img {
  margin: 3 0 -3 5px;
  margin: 0.21429rem 0 -0.21429rem 0.35714rem;
}

/* line 65, ../sass/buttons.scss */
.ui-combo:before, .ui-button.ui-combo-right:before, .ui-combo-right.ui-button-img:before, .ui-combo-right.ui-button-combo-left:before, .ui-combo-right.ui-button-combo-right:before, .ui-button.ui-checkout:before, .ui-checkout.ui-button-img:before, .ui-checkout.ui-button-combo-left:before, .ui-checkout.ui-button-combo-right:before, .ui-button.ui-combo-left:before, .ui-combo-left.ui-button-img:before, .ui-combo-left.ui-button-combo-left:before, .ui-combo-left.ui-button-combo-right:before, .ui-button.ui-cart:before, .ui-cart.ui-button-img:before, .ui-cart.ui-button-combo-left:before, .ui-cart.ui-button-combo-right:before {
  background: url(../img/icon-16.png) no-repeat;
}

/* line 86, ../sass/buttons.scss */
.ui-button.ui-checkout, .ui-checkout.ui-button-img, .ui-checkout.ui-button-combo-left, .ui-checkout.ui-button-combo-right {
  background-color: #ed6e37;
}
/* line 90, ../sass/buttons.scss */
.ui-button.ui-checkout:before, .ui-checkout.ui-button-img:before, .ui-checkout.ui-button-combo-left:before, .ui-checkout.ui-button-combo-right:before {
  background-position: 0 -48px;
}

/* line 95, ../sass/buttons.scss */
.ui-button.ui-cart, .ui-cart.ui-button-img, .ui-cart.ui-button-combo-left, .ui-cart.ui-button-combo-right {
  background-color: #ed6e37;
}
/* line 99, ../sass/buttons.scss */
.ui-button.ui-cart:before, .ui-cart.ui-button-img:before, .ui-cart.ui-button-combo-left:before, .ui-cart.ui-button-combo-right:before {
  background-position: 0 -1089px;
}
