/* line 3, ../sass/select.scss */
.ui-select {
  display: none;
}

/* line 7, ../sass/select.scss */
.ui-custom-select {
  background: url(http://placehold.it/32) no-repeat center right;
  border: solid 1px #000;
  cursor: pointer;
  display: inline-block;
  padding: 0 32 0 0px;
  padding: 0 2.28571rem 0 0;
  position: relative;
}

/* line 16, ../sass/select.scss */
.ui-custom-select-value {
  border-right: solid 1px #000;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 160px;
  padding: 5 10px;
  padding: 0.35714rem 0.71429rem;
}

/* line 25, ../sass/select.scss */
.ui-custom-select-options {
  background: #fff;
  cursor: pointer;
  display: none;
  left: -1px;
  position: absolute;
  border: solid 1px #000;
  top: -1px;
  width: 280px;
  z-index: 999;
}

/* line 37, ../sass/select.scss */
.ui-custom-select-option {
  padding: 5 10px;
  padding: 0.35714rem 0.71429rem;
}
/* line 40, ../sass/select.scss */
.ui-custom-select-option:hover {
  background: #f2f2f2;
}
