@font-face {
  font-family: 'Futura';
  src: url("../webfonts/FuturaStd-Light.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src: url("../webfonts/FuturaStd-LightOblique.otf") format("opentype");
  font-weight: 250;
  font-style: italic;
}

@font-face {
  font-family: 'Futura';
  src: url("../webfonts/FuturaStd-Book.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src: url("../webfonts/FuturaStd-BookOblique.otf") format("opentype");
  font-weight: 450;
  font-style: italic;
}

@font-face {
  font-family: 'Futura';
  src: url("../webfonts/FuturaStd-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src: url("../webfonts/FuturaStd-MediumOblique.otf") format("opentype");
  font-weight: 550;
  font-style: italic;
}

@font-face {
  font-family: 'Futura';
  src: url("../webfonts/FuturaStd-Bold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src: url("../webfonts/FuturaStd-BoldOblique.otf") format("opentype");
  font-weight: 650;
  font-style: italic;
}

@font-face {
  font-family: 'Futura';
  src: url("../webfonts/FuturaStd-Heavy.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src: url("../webfonts/FuturaStd-HeavyOblique.otf") format("opentype");
  font-weight: 850;
  font-style: italic;
}

@font-face {
  font-family: 'Tisa';
  src: url("../webfonts/TisaWebPro-Italic.woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Tisa';
  src: url("../webfonts/TisaWebPro.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Tisa';
  src: url("../webfonts/TisaWebPro-BoldItalic.woff");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Tisa';
  src: url("../webfonts/TisaWebPro-Bold.woff");
  font-weight: 600;
  font-style: normal;
}
