@import "_mixins";
@import "typography";

.ui-breadcrumb {
	
	a {
		float:left;
	}
	
	a:after {
		content:"/";
		display:inline-block;
		text-align:center;
		width:20px;
		color:black;
	}
	
	li:last-child a {
		font-weight:bold;
	}
	
	li:last-child a:after {
		display:none;
	}
	
}