@import "_mixins";
@import "typography";
@import "colors";

.ui-button {
	background:$base-secondary-color;
	color:#fff;
	display:inline-block;
	@include rem(font-size,14);
	@include rem(line-height,34);
	@include rem(padding, 5 20 3);
	font-family:$primary-font;
	font-weight: 600;
	text-transform: uppercase;
	border-bottom: 2px solid #333;
	
	&:hover {
	  text-decoration: none;
	}
}

.ui-button.ui-primary {
  background-color: $base-primary-color;
}

.ui-button.ui-small {
  @include rem(line-height,22);
  @include rem(padding, 5 10 3);
}

.ui-button.ui-large {
  @include rem(line-height,46);
  @include rem(padding, 5 30 3);
}

.ui-button.ui-disabled {
  background-color: #ccc;
  border-bottom: none;
  cursor: default;
}

.ui-button-img {
	@extend .ui-button;
	@include rem(padding, 9);
}

.ui-button-combo-left {
	@extend .ui-button;	
	@include rem(padding, 5 20 3 10);
	
	img {
		display:inline-block;
		position:relative;
		@include rem(margin, 3 5 -3 0);
	}
}

.ui-button-combo-right {
	@extend .ui-button;	
	@include rem(padding, 5 10 3 20);
	
	img {
		display:inline-block;
		position:relative;
		@include rem(margin, 3 0 -3 5);
	}
}

.ui-combo {
  position: relative;
  
  &:before {
    background: url(../img/icon-16.png) no-repeat;
    content: " ";
    height: 16px;
    position: absolute;
    width: 16px;
    top: 50%;
    margin-top: -8px;
  }
}

.ui-button.ui-combo-right {
  @extend .ui-combo;
  padding-right: 46px; 
  
  &:before {
    right: 20px;
  }
}

.ui-button.ui-combo-left {
  @extend .ui-combo;
  padding-left: 46px; 
  
  &:before {
    left: 20px;
  }
}

.ui-button.ui-checkout {
  @extend .ui-button.ui-combo-right;
  background-color: $base-primary-color;
  
  &:before {
    background-position: 0 -48px;
  }
}

.ui-button.ui-cart {
  @extend .ui-button.ui-combo-left;
  background-color: $base-primary-color;
  
  &:before {
    background-position: 0 -1089px;;
  }
}