@import "_mixins";

.ui-tooltip,
.ui-tooltip-top,
.ui-tooltip-right,
.ui-tooltip-bottom,
.ui-tooltip-left {
	background:#fff;
	border:solid 1px #000;
	display:inline-block;
	font-family:Helvetica,Arial,Sans-Serif;
	min-height:30px;
	position:absolute;
	width:100px;
}
.ui-tooltip:after,
.ui-tooltip-top:after,
.ui-tooltip-right:after,
.ui-tooltip-bottom:after,
.ui-tooltip-left:after {
	content:"\25B8";
	display:block;
	font-family:Helvetica,Arial,Sans-Serif;
	@include rem(font-size, 30);
	height:0;
	line-height:0;
	position:absolute;
	z-index:99;
}

.ui-tooltip:after,
.ui-tooltip-bottom:after {
	color:#fff;
	bottom:-1.75px;
	font-family:Helvetica,Arial,Sans-Serif;
	left:0px;
	text-align:center;
	@include text-shadow(1px, 0, 0, rgba(0,0,0,1));
	@include transform(rotate(90deg));
	width:100%;
}

.ui-tooltip-top:after {
	bottom:auto;
	color:#fff;
	font-family:Helvetica,Arial,Sans-Serif;
	left:-2px;
	top:-1px;
	text-align:center;
	@include text-shadow(1px, 0, 0, rgba(0,0,0,1));
	@include transform(rotate(-90deg));
	width:100%;
}

.ui-tooltip-right:after {
	color:#fff;
	font-family:Helvetica,Arial,Sans-Serif;
	right:-11px;
	top:50%;
	@include text-shadow(1px, 0, 0, rgba(0,0,0,1));
	@include transform(rotate(0deg));
}
.ui-tooltip-left:after {
	color:#fff;
	font-family:Helvetica,Arial,Sans-Serif;
	left:-0.37em;
	top:50%;
	@include text-shadow(1px, 0, 0, rgba(0,0,0,1));
	@include transform(rotate(180deg));
}



