@import "_mixins";

.ui-button {
	background:$base-secondary-button-color;
	color:$base-primary-black;
	display:inline-block;
	@include rem(font-size,19);
	@include rem(line-height,44);
	@include rem(padding, 5 20 4);
	font-family:$primary-font;
	font-weight: normal;
	text-transform: lowercase;
	-webkit-box-shadow: -2px 2px 0px $base-primary-black;
	
	&:hover {
	  text-decoration: none;
	  color:$base-primary-black;
	  background-color:$base-grey-4;
	}
	&:active {
	  -webkit-box-shadow: -1px 1px 0px $base-primary-black;
	  position: relative;
	  left: -1px;
	  bottom: -1px;
  }
}

.ui-button.ui-primary {
  background-color: $base-primary-button-color;
  
  &:hover {
    background-color:$base-primary-button-hover;
  }
}

.ui-button.ui-small {
  @include rem(line-height,22);
  @include rem(padding, 5 10 5);
}

.ui-button.ui-large {
  @include rem(font-size,21);
  @include rem(line-height,54);
  @include rem(padding, 5 25 4);
}

.ui-button.ui-disabled {
  background-color: $base-grey-4;
  -webkit-box-shadow: none;
  color: white;
  cursor: default;
  &:active {
    -webkit-box-shadow: none;
    left: 0;
    bottom: 0;
  }
}

.ui-button-img {
	@extend .ui-button;
	@include rem(padding, 9);
}

.ui-button-combo-left {
	@extend .ui-button;	
	@include rem(padding, 5 20 3 10);
	
	img {
		display:inline-block;
		position:relative;
		@include rem(margin, 3 5 -3 0);
	}
}

.ui-button-combo-right {
	@extend .ui-button;	
	@include rem(padding, 5 10 3 20);
	
	img {
		display:inline-block;
		position:relative;
		@include rem(margin, 3 0 -3 5);
	}
}

.ui-combo {
  position: relative;
  
  &:before {
    background: url(../img/icon-16.png) no-repeat;
    content: " ";
    height: 16px;
    position: absolute;
    width: 16px;
    top: 50%;
    margin-top: -8px;
  }
}

.ui-button.ui-combo-right {
  @extend .ui-combo;
  padding-right: 46px; 
  
  &:before {
    right: 20px;
  }
}

.ui-button.ui-combo-left {
  @extend .ui-combo;
  padding-left: 46px; 
  
  &:before {
    left: 20px;
  }
}

.ui-button.ui-checkout {
  @extend .ui-button.ui-combo-right;
  @extend .ui-button.ui-primary;
  background-color: $base-primary-button-color;
  
  &:before {
    background-position: 0 -192px;
  }
}

.ui-button.ui-cart {
  @extend .ui-button.ui-combo-left;
  @extend .ui-button.ui-primary;
  background-color: $base-primary-button-color;
  
  &:before {
    background-position: 0 -96px;
  }
}