@import "_mixins";

.ui-horizontal-forms {
	
	label {
		display:inline-block;
		width:100px;
	}
	
	.form-item {
		clear:both;
		display:block;
	}
	
	.form-label {
		float:left;
		font-weight:bold;
		@include rem(margin, 15 20 10 0);
		text-align:right;
		width:180px;
	}
	
	.form-input {
		float:left;
		@include rem(margin, 10 0);
		width:280px;
	}
	
}

.ui-vertical-forms {
	
	label {
		display:inline-block;
		width:100px;
	}
	
	.form-item {
		clear:both;
		display:block;
	}
	
	.form-label {
		font-weight:bold;
		@include rem(margin, 10 0 0 0);
		width:280px;
	}
	
	.form-input {
		@include rem(margin, 0 0 5 0);
		width:280px;
	}
	
}

.form-notice {
	color:#999;
	@include rem(font-size, 12);
}

.form-error {
	color:#F00;
	display:none;
	@include rem(font-size, 12);
}

.form-warning {
	color:#00F;
	display:none;
	@include rem(font-size, 12);
}

.form-item-error {
	color:#F00;
	
	input[type="text"] {
		border:solid 1px #F00;
	}
	
	.form-notice {
		display:none;
	}
	
	.form-error {
		display:block;
	}
}

.form-item-warning {
	color:#00F;
	
	input[type="text"] {
		border:solid 1px #00F;
	}
	
	.form-notice {
		display:none;
	}
	
	.form-warning {
		display:block;
	}
}

input[type="text"].ui-input,
input[type="password"].ui-input,
input[type="number"].ui-input,
textarea.ui-textarea {
  padding-bottom: 10px;
  padding-top: 11px;
  text-indent: 6px;
  -webkit-box-shadow: -1px 1px 0px $base-grey-3 inset;
  background-color: $base-grey-4;
  border: 1px solid $base-grey-2;
  @include rem(font-size, 14);
  @include rem(line-height, 14);
  font-family: $secondary-font;
  
  &:focus {
    -webkit-box-shadow: 0 0 4px rgba(134, 202, 230, 0.5), -1px 1px 0px $base-grey-4 inset;
    box-shadow: 0 0 4px rgba(134, 202, 230, 0.5), -1px 1px 0px $base-grey-4 inset;
    background-color: white;
    border: solid 1px #5f7b96;
  }
  
  &::-webkit-input-placeholder {
    color: #828282;
    font-style: italic;
    @include rem(font-size, 14);
    @include rem(line-height, 14);
  }
  
  &:disabled {
    -webkit-box-shadow: none;
    background: $base-grey-4;
    border-color: $base-grey-4;
  }
  
  &:disabled::-webkit-input-placeholder {
    color: $base-grey-3;
  }
}



