@import "_mixins";

.ui-pagination {
  
	line-height:32px;
	
	li {float:left; padding:0 1px; margin:0 0px; font-weight:normal;}
	
	li:nth-child(2){display: none;};
	
	li:first-child a, li:last-child a{
	  background: none;
	  -webkit-box-shadow: none;
	  font-family: $secondary-font; 
	  @include rem(font-size, 14);
	  color:$base-text-blue;
	  text-transform: capitalize;
	  
	  &:hover {
	    color: $base-primary-blue;
	    text-decoration: underline;
	  }
	}
	
	li:first-child a:before {
	  content: "« "
	}
	
	li:last-child a:after {
	  content: " »";
	}
	
	li:last-child{margin-left:40px;}
	
	a {
	  display:block;
	  font-weight: normal;
	  @include rem(padding, 0 12);
	  
	  &:hover {
	    text-decoration: none;
	    color:white;
  	  background-color: $base-primary-blue;
	  }
	}
	
	a.selected {
	  color:$base-primary-black;
	  background-color: $base-grey-3;
	  cursor: default;
	}
	
}