@import "_mixins";

.ui-select {
	display:none;
}

.ui-custom-select {
	background:url(http://placehold.it/32) no-repeat center right;
	border:solid 1px #000;
	cursor:pointer;
	display:inline-block;
	@include rem(padding, 0 32 0 0);
	position:relative;
}

.ui-custom-select-value {
	border-right:solid 1px #000;
	overflow:hidden;
	text-overflow: ellipsis;
	white-space:nowrap;
	width:160px;
	@include rem(padding, 5 10);
}

.ui-custom-select-options {
	background:#fff;
	cursor:pointer;
	display:none;
	left:-1px;
	position:absolute;
	border:solid 1px #000;
	top:-1px;
	width:280px;
	z-index:999;
}

.ui-custom-select-option {
	@include rem(padding, 5 10);
	
	&:hover {
		background:#f2f2f2;
	}
}