@import url("webfonts.css");
@import "_mixins";

html { 
  font-size:14px;
  line-height: 22px; 
}

body { font:normal 100%/20px; font-family:$secondary-font; }

h1, h2, h3, h4, h5, h6 { 
  @include rem(margin, 0 0 10 0); 
  font-family:$primary-font;
  text-transform: uppercase;
  color: #212223;
}

h1 {
	@include rem(font-size, 30);
	@include rem(line-height, 36);
}

h2 {
	@include rem(font-size, 24);
	@include rem(line-height, 36);
}

h3 {
	@include rem(font-size, 18);
	@include rem(line-height, 27);
}

h4 {
	@include rem(font-size, 14);
	@include rem(line-height, 18);
}

h5 {
	@include rem(font-size, 14);
	@include rem(line-height, 18);
	text-transform: none;
}

.body-1 {
	@include rem(font-size, 14);
	@include rem(line-height, 22);
}

.body-2 {
	@include rem(font-size, 16);
	@include rem(line-height, 22);
}

.mouse {
	@include rem(font-size, 12);
	@include rem(line-height, 18);
}

p {
	@include rem(margin, 9 0);
}

a {
	text-decoration:none;
	color:$base-text-blue;
	&:hover {
	  text-decoration:underline;
	  color:$base-primary-blue;
	}
}

a.underline{
	text-decoration:underline;
}